In [8]:
import pandas as pd

In [34]:
# Membaca File CSV
df_csv = pd.read_csv('produksi_sampah.csv')
df_csv

,id,kode_provinsi,nama_provinsi,kode_kabupaten_kota,nama_kabupaten_kota,jumlah_produksi_sampah,satuan,tahun
0,1,32,JAWA BARAT,3201,KABUPATEN BOGOR,1511.15,TON PER HARI,2015
1,2,32,JAWA BARAT,3202,KABUPATEN SUKABUMI,419.01,TON PER HARI,2015
2,3,32,JAWA BARAT,3203,KABUPATEN CIANJUR,981.41,TON PER HARI,2015
3,4,32,JAWA BARAT,3204,KABUPATEN BANDUNG,1895.94,TON PER HARI,2015
4,5,32,JAWA BARAT,3205,KABUPATEN GARUT,464.74,TON PER HARI,2015
...,...,...,...,...,...,...,...,...
184,185,32,JAWA BARAT,3275,KOTA BEKASI,1500.77,TON PER HARI,2021
185,186,32,JAWA BARAT,3276,KOTA DEPOK,1418.87,TON PER HARI,2021
186,187,32,JAWA BARAT,3277,KOTA CIMAHI,193.36,TON PER HARI,2021
187,188,32,JAWA BARAT,3278,KOTA TASIKMALAYA,295.87,TON PER HARI,2021
188,189,32,JAWA BARAT,3279,KOTA BANJAR,60.29,TON PER HARI,2021

In [ ]:
!git init
!git add datasampah.ipynb
!git commit -m "commit awal file csv"
!git remote add origin https://github.com/ucupp45/sampah_jabar.git
!git push -u origin master

In [11]:
tahun_pilihan = 2016  

total_produksi_sampah = 0

for index, row in df_csv.iterrows():
    if row['tahun'] == tahun_pilihan:  
        total_produksi_sampah += row['jumlah_produksi_sampah']

print(f"Total produksi sampah di Jawa Barat pada tahun {tahun_pilihan} adalah {total_produksi_sampah:.2f} ton per hari")

Total produksi sampah di Jawa Barat pada tahun 2016 adalah 20969.27 ton per hari

In [12]:
!git add datasampah.ipynb
!git commit -m "soal nomor 2"
!git push -u origin master

warning: in the working copy of 'datasampah.ipynb', LF will be replaced by CRLF the next time Git touches it

[master faa3941] soal nomor 2
 1 file changed, 230 insertions(+), 30 deletions(-)
branch 'master' set up to track 'origin/master'.

To https://github.com/ucupp45/sampah_jabar.git
   d862a3f..faa3941  master -> master

In [35]:
total_sampah_pertahun = {}

for index, row in df_csv.iterrows():
    tahun = row['tahun']  
    jumlah_sampah = row['jumlah_produksi_sampah']  
    
    if tahun in total_sampah_pertahun:
        total_sampah_pertahun[tahun] += jumlah_sampah  
    else:
        total_sampah_pertahun[tahun] = jumlah_sampah  

for tahun, total in total_sampah_pertahun.items():
    print(f"Total produksi sampah pada tahun {tahun} adalah {total:.2f} ton per hari")

Total produksi sampah pada tahun 2015 adalah 20969.27 ton per hari
Total produksi sampah pada tahun 2016 adalah 20969.27 ton per hari
Total produksi sampah pada tahun 2017 adalah 20969.27 ton per hari
Total produksi sampah pada tahun 2018 adalah 22772.92 ton per hari
Total produksi sampah pada tahun 2019 adalah 24490.56 ton per hari
Total produksi sampah pada tahun 2020 adalah 25333.00 ton per hari
Total produksi sampah pada tahun 2021 adalah 15735.36 ton per hari

In [14]:
!git add datasampah.ipynb
!git commit -m "soal nomor 3"
!git push -u origin master

warning: in the working copy of 'datasampah.ipynb', LF will be replaced by CRLF the next time Git touches it

[master a689524] soal nomor 3
 1 file changed, 49 insertions(+), 3 deletions(-)
branch 'master' set up to track 'origin/master'.

To https://github.com/ucupp45/sampah_jabar.git
   faa3941..a689524  master -> master

In [36]:
total_sampah_perkota = {}

for index, row in df_csv.iterrows():
    kota = row['nama_kabupaten_kota']  
    jumlah_sampah = row['jumlah_produksi_sampah']  
    
    if kota in total_sampah_perkota:
        total_sampah_perkota[kota] += jumlah_sampah  
    else:
        total_sampah_perkota[kota] = jumlah_sampah  

print("Total produksi sampah per Kabupaten/Kota adalah:")

for kota, total in total_sampah_perkota.items():
    print(f"  - {kota}: {total:.2f} ton per hari")

Total produksi sampah per Kabupaten/Kota adalah:
  - KABUPATEN BOGOR: 13113.49 ton per hari
  - KABUPATEN SUKABUMI: 4038.19 ton per hari
  - KABUPATEN CIANJUR: 6497.92 ton per hari
  - KABUPATEN BANDUNG: 11934.04 ton per hari
  - KABUPATEN GARUT: 4484.29 ton per hari
  - KABUPATEN TASIKMALAYA: 3531.33 ton per hari
  - KABUPATEN CIAMIS: 2329.72 ton per hari
  - KABUPATEN KUNINGAN: 2486.63 ton per hari
  - KABUPATEN CIREBON: 3205.17 ton per hari
  - KABUPATEN MAJALENGKA: 2593.39 ton per hari
  - KABUPATEN SUMEDANG: 2532.71 ton per hari
  - KABUPATEN INDRAMAYU: 5383.18 ton per hari
  - KABUPATEN SUBANG: 4735.53 ton per hari
  - KABUPATEN PURWAKARTA: 2262.90 ton per hari
  - KABUPATEN KARAWANG: 5997.44 ton per hari
  - KABUPATEN BEKASI: 11328.27 ton per hari
  - KABUPATEN BANDUNG BARAT: 4972.37 ton per hari
  - KABUPATEN PANGANDARAN: 1277.55 ton per hari
  - KOTA BOGOR: 5952.47 ton per hari
  - KOTA SUKABUMI: 1833.73 ton per hari
  - KOTA BANDUNG: 14521.78 ton per hari
  - KOTA CIREBON: 1887.57 ton per hari
  - KOTA BEKASI: 15504.31 ton per hari
  - KOTA DEPOK: 12209.61 ton per hari
  - KOTA CIMAHI: 3112.35 ton per hari
  - KOTA TASIKMALAYA: 2754.78 ton per hari
  - KOTA BANJAR: 758.93 ton per hari

In [37]:
!git add datasampah.ipynb
!git commit -m "soal nomor 4 + hapus data NaN"
!git push -u origin master

warning: in the working copy of 'datasampah.ipynb', LF will be replaced by CRLF the next time Git touches it

[master b8b4cda] soal nomor 4 + hapus data NaN
 1 file changed, 151 insertions(+), 43 deletions(-)
branch 'master' set up to track 'origin/master'.

To https://github.com/ucupp45/sampah_jabar.git
   a689524..b8b4cda  master -> master

In [38]:
df_hasil = pd.DataFrame(list(total_sampah_perkota.items()), columns=["Nama Kabupaten/Kota", "Total Produksi Sampah"])
df_hasil

        Nama Kabupaten/Kota  Total Produksi Sampah
0           KABUPATEN BOGOR               13113.49
1        KABUPATEN SUKABUMI                4038.19
2         KABUPATEN CIANJUR                6497.92
3         KABUPATEN BANDUNG               11934.04
4           KABUPATEN GARUT                4484.29
5     KABUPATEN TASIKMALAYA                3531.33
6          KABUPATEN CIAMIS                2329.72
7        KABUPATEN KUNINGAN                2486.63
8         KABUPATEN CIREBON                3205.17
9      KABUPATEN MAJALENGKA                2593.39
10       KABUPATEN SUMEDANG                2532.71
11      KABUPATEN INDRAMAYU                5383.18
12         KABUPATEN SUBANG                4735.53
13     KABUPATEN PURWAKARTA                2262.90
14       KABUPATEN KARAWANG                5997.44
15         KABUPATEN BEKASI               11328.27
16  KABUPATEN BANDUNG BARAT                4972.37
17    KABUPATEN PANGANDARAN                1277.55
18               KOTA BOGOR                5952.47
19            KOTA SUKABUMI                1833.73
20             KOTA BANDUNG               14521.78
21             KOTA CIREBON                1887.57
22              KOTA BEKASI               15504.31
23               KOTA DEPOK               12209.61
24              KOTA CIMAHI                3112.35
25         KOTA TASIKMALAYA                2754.78
26              KOTA BANJAR                 758.93

In [39]:
df_hasil.to_csv('total.csv', index=False)

In [40]:
df_csv = pd.read_csv('total.csv')
df_csv

        Nama Kabupaten/Kota  Total Produksi Sampah
0           KABUPATEN BOGOR               13113.49
1        KABUPATEN SUKABUMI                4038.19
2         KABUPATEN CIANJUR                6497.92
3         KABUPATEN BANDUNG               11934.04
4           KABUPATEN GARUT                4484.29
5     KABUPATEN TASIKMALAYA                3531.33
6          KABUPATEN CIAMIS                2329.72
7        KABUPATEN KUNINGAN                2486.63
8         KABUPATEN CIREBON                3205.17
9      KABUPATEN MAJALENGKA                2593.39
10       KABUPATEN SUMEDANG                2532.71
11      KABUPATEN INDRAMAYU                5383.18
12         KABUPATEN SUBANG                4735.53
13     KABUPATEN PURWAKARTA                2262.90
14       KABUPATEN KARAWANG                5997.44
15         KABUPATEN BEKASI               11328.27
16  KABUPATEN BANDUNG BARAT                4972.37
17    KABUPATEN PANGANDARAN                1277.55
18               KOTA BOGOR                5952.47
19            KOTA SUKABUMI                1833.73
20             KOTA BANDUNG               14521.78
21             KOTA CIREBON                1887.57
22              KOTA BEKASI               15504.31
23               KOTA DEPOK               12209.61
24              KOTA CIMAHI                3112.35
25         KOTA TASIKMALAYA                2754.78
26              KOTA BANJAR                 758.93

In [41]:
df_hasil.to_excel('total.xlsx', index=False)

In [ ]:
df_excel = pd.read_excel('total.xlsx')