In [8]:
import pandas as pd

In [9]:
# Membaca File CSV
df_csv = pd.read_csv('produksi_sampah.csv')
df_csv

,id,kode_provinsi,nama_provinsi,kode_kabupaten_kota,nama_kabupaten_kota,jumlah_produksi_sampah,satuan,tahun
0,1,32,JAWA BARAT,3201,KABUPATEN BOGOR,1511.15,TON PER HARI,2015
1,2,32,JAWA BARAT,3202,KABUPATEN SUKABUMI,419.01,TON PER HARI,2015
2,3,32,JAWA BARAT,3203,KABUPATEN CIANJUR,981.41,TON PER HARI,2015
3,4,32,JAWA BARAT,3204,KABUPATEN BANDUNG,1895.94,TON PER HARI,2015
4,5,32,JAWA BARAT,3205,KABUPATEN GARUT,464.74,TON PER HARI,2015
...,...,...,...,...,...,...,...,...
238,239,32,JAWA BARAT,3275,KOTA BEKASI,NaN,TON PER HARI,2023
239,240,32,JAWA BARAT,3276,KOTA DEPOK,NaN,TON PER HARI,2023
240,241,32,JAWA BARAT,3277,KOTA CIMAHI,NaN,TON PER HARI,2023
241,242,32,JAWA BARAT,3278,KOTA TASIKMALAYA,NaN,TON PER HARI,2023
242,243,32,JAWA BARAT,3279,KOTA BANJAR,NaN,TON PER HARI,2023

In [ ]:
!git init
!git add datasampah.ipynb
!git commit -m "commit awal file csv"
!git remote add origin https://github.com/ucupp45/sampah_jabar.git
!git push -u origin master

In [11]:
tahun_pilihan = 2016  

total_produksi_sampah = 0

for index, row in df_csv.iterrows():
    if row['tahun'] == tahun_pilihan:  
        total_produksi_sampah += row['jumlah_produksi_sampah']

print(f"Total produksi sampah di Jawa Barat pada tahun {tahun_pilihan} adalah {total_produksi_sampah:.2f} ton per hari")

Total produksi sampah di Jawa Barat pada tahun 2016 adalah 20969.27 ton per hari

In [12]:
!git add datasampah.ipynb
!git commit -m "soal nomor 2"
!git push -u origin master

warning: in the working copy of 'datasampah.ipynb', LF will be replaced by CRLF the next time Git touches it

[master faa3941] soal nomor 2
 1 file changed, 230 insertions(+), 30 deletions(-)
branch 'master' set up to track 'origin/master'.

To https://github.com/ucupp45/sampah_jabar.git
   d862a3f..faa3941  master -> master

In [ ]:
total_pertahun = {}

for index, row in df_csv.iterrows():
    tahun = row['tahun']  
    jumlah_sampah = row['jumlah_produksi_sampah']  
    
    if tahun in total_pertahun:
        total_pertahun[tahun] += jumlah_sampah  
    else:
        total_pertahun[tahun] = jumlah_sampah  

for tahun, total in total_pertahun.items():
    print(f"Hasil total produksi sampah di tahun {tahun} adalah {total:.2f} ton per hari")